<!-- Modal -->
<div class="modal fade" id="modaltask" tabindex="-1" role="dialog" aria-labelledby="modaltaskLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-task-title">Modal titulo</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-task modal-body" id="modal-body-task">
        <div class="form-group">
          <h4 class="control-label">Datos de la Tarea:</h4>
        </div>
      </div>
      <div class="modal-footer" id="modal-footer-task">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
