$('#modaltag').modal('toggle');
$('#tag-<%= @tag.id %>').replaceWith(
    '<div class="row"><div class="col-1"><a ><i class="fa-solid fa-tag"></i></a></div><div class="col-7"><span> <%= @tag.title%> </span></div><div class="col-3"><%= link_to edit_tag_path(@tag), html_options = {class: "btn  btn-xs", remote: true} do %><i class="fa-solid fa-pen-to-square"></i><% end %><%= link_to @tag , remote: true, method: :delete, data: { confirm: "¿Estas seguro de borrar la Etiqueta: #{tag.title}?"}, class: "btn btn-xs" do %><i class="fa-solid fa-trash-can"></i> <% end %></div></div>'
);
