<h1 id="h1">mis tareasmis tareasmis tareasmis tareasmis tareasmis tareasmis tareasmis tareasmis tareas</h1>

<%= link_to "raa",new_task_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  %>
